extends layout



block content
  .imagewrapper
  .menuwrapper
    .boxwrapper
      .rectangle.rectangle1
        p.rectangletext
          | Log-In
      .rectangle.rectangle2
        p.rectangletext
          | Events
      .rectangle.rectangle3
        p.rectangletext
          | Contact
    .boxwrapper
      .rectangle.rectangle4
        p.rectangletext
          | Popular
      a.linkbox(href='/product')
        .rectangle.rectangle5
          p.rectangletext
            | Products
    .boxwrapper
      .rectangle.rectangle6
        p.rectangletext
          | Sale
