extends layout 

block content
    .contentWrapper
        .productwrapper
            .productbox
            .productbox
            .productbox
            .productbox
            .productbox
            .productbox

