extends layout 
block content
    .contentWrapper
        .productwrapper
            each val, key in products   
                .productbox
                    img.productImage.productsubbox(src= val.imagelink)
                    .productinfobox.productsubbox
                        .productsubbox.titlebox
                            |#{val.name}
                        .productsubbox.descbox 
                            |#{val.description}
                        .productsubbox.
                        
            

